@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    height: 100vh;
}

.height {
    min-height: calc(100vh - 160px);
}

.logo {
    margin-left: 5px;
    font-size: 30px;
    font-family: 'Encode Sans', sans-serif;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
    display: block;
    position: relative;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.block {
    display: block;
}

.hero-container {
    height: 100vh;
    background: url("../images/heroimage.jpg") no-repeat center center fixed;
    background-size: cover;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer-text {
    color: white;
    letter-spacing: 2px;
    font-size: 30px;
    font-family: 'Encode Sans', sans-serif;
    margin-top: 10px;
}

.footer {
    height: 70px;
}

.social-links {
    margin-top: 10px;
}

.overflow-hide {
    overflow: hidden;
}

@media (max-width: 355px) {
    .footer-text {
        font-size: 20px;
        margin-top: auto;
    }
}

@media (max-width: 355px) {
    .social-links {
        font-size: 10px;
        margin-top: 5px;
    }
}

@media (max-width: 355px) {
    .logo {
        font-size: 20px;
    }
}

.card-panel {
    margin-top: 40px !important;
}

